IO_LOC "XTAL_IN" 52;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "Reset_Button" 4;
IO_LOC "User_Button" 3;
IO_LOC "PWM_AUDIO_PIN" 31;
IO_PORT "PWM_AUDIO_PIN" IO_TYPE=LVCMOS33;
IO_LOC "LED[5]" 16;
IO_LOC "LED[4]" 15;
IO_LOC "LED[3]" 14;
IO_LOC "LED[2]" 13;
IO_LOC "LED[1]" 11;
IO_LOC "LED[0]" 10;
